* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    /* display: flex;
    justify-content: center;*/
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url(../pics/login/login-background.webp);
    background-repeat: repeat;
    background-size: cover;
}
.mainlogo{
    margin-top: 15px;
    width: 100px;
}
#logotext{
    width: 200px;
    margin-bottom: 25px;
    margin-left: -20px;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    padding-right: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -20px;
    background-color: #0d1117;
}
#navbut{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    color: white;

}
.navbuttons{
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 35px;
    padding: 15px;
    padding-top: 0px;
    text-decoration-line: none;
}
.navbuttons:hover{
    color: rgb(172, 172, 172);
}

.login-container {
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    font-size: 0.9rem;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: green;
}

.signup-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.signup-link a {
    color: blue;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
