body{
    background-color: #0d1117;
    font-family: sans-serif;
    line-height: 1.7;
    color: white;
}
.mainlogo{
    margin-top: 15px;
    width: 100px;
}
#logotext{
    width: 200px;
    margin-bottom: 25px;
    margin-left: -20px;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    padding-right: 100px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -20px;
    background-color: #0d1117;
}
#navbut{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    color: white;

}
.navbuttons{
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin-top: 35px;
    padding: 15px;
    padding-top: 0px;
    text-decoration-line: none;
}
.navbuttons:hover{
    color: rgb(172, 172, 172);
}
.opening{
    padding-top: 150px;
    margin-right: 280px;
    padding-bottom: 197px;
    overflow: hidden;
}
#smart-bidding{
    font-size: 18px;
    border: 2px solid none;
    border-radius: 50px;
    margin-right: 700px;
    padding-left: 50px;
    margin-bottom: -30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
    /* background-image: linear-gradient(rgb(232, 139, 52),rgb(232, 232, 156)); */
    background-image: linear-gradient(rgb(114, 78, 190),rgb(133, 160, 203));
}
#opening-head{
    font-size: 62px;
}
#opening-tag{
    font-size: 30px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: -20px;
    color: rgb(172, 172, 172);
}
.content-part{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 50px;
    /* background-image: url(../pics/homepage/opening2.png);
    background-size: cover; */
    margin-bottom: -60px;
}
#part1-content{
    background-image: url(../../pics/homepage/main-background-cropped.jpg);
    background-repeat: no-repeat;
    background-size: 40% 70%;
    background-position: right top;
    overflow: hidden;
    
}
.bar{
    background-image: linear-gradient(transparent, #7C72FF 30%);
    height: 400px;
    width: 3px;
}
.circle{
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-left: -8px;
    margin-top: -15px;
}
#end-circle{
    margin-top: 1360px;
}
.size-6{
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
    width: 25px;
    /* color:rgba(255, 255, 255, 0.592); */
}
.email-icon-blur{
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
    background-color: #7C72FF;
    filter: blur(15px);
}
.email-input{
    margin-bottom: -100px;
}
#email-name{
    position: absolute;
    margin-top: 55px;
    margin-left: 35px;
}
.email-main{
    position: absolute;
    margin-left: 20px;
    margin-top: 85px;
    width: 320px;
    height: 35px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.email-main:focus{
    outline: none;
}
.email-button{
    position: absolute;
    margin-left: 380px;
    margin-top: 84px;
    font-size: 18px;
    height: 39px;
    border: none;
    color: white;
    background-color: rgb(125, 95, 191);
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
.email-button:active{
    background-color: rgb(135, 105, 199);
}
#bar-no2{
    margin-top: 50px;
    background-image: linear-gradient(#7C72FF,#2DA44E 80%, #3FB950);
}
#blur2{
    background-color: #3FB950;
    filter: blur(15px);
}
.popular-bidders-line{
    position: absolute;
    margin-left: 275px;
    margin-top: -80px;
    font-size: 30px;
    color: rgb(172, 172, 172);
    font-weight: lighter;
}
.industry-names{
    display: flex;
    justify-content: space-between;
    margin-left: 275px;
    margin-top: -170px;
    margin-right: 100px;
    font-size: 24px;
    color: rgb(172, 172, 172);
}
.industry-names img{
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
#part2-content{
    margin-top: 145px;
}
#bar-no3{
    position: absolute;
    margin-top: -90px;
    /* margin-left: 150px; */
    background-image: linear-gradient(#3FB950,transparent);
    height: 250px;
    z-index: -1;
}
.news{
    border: none;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: -20px;
    position: absolute;
    width: 85%;
    height: 60%;
}
.Header-topics{
    position: absolute;
    font-size: 26px;
    margin-left: -1300px;
    margin-top: -130px;
}
.Innovation-content{
    position: absolute;
    font-size: 32px;
    margin-left: -1300px;
    margin-top: -50px;
}
#Innovation-color{
    color: #2DA44E;
}
.users{
    font-size: 40px;
    position: absolute;
    margin-top: 700px;
    margin-left: 200px;
}
#part3-content{
    margin-top: 785px;
}
#bar-no4{
    background-image: linear-gradient(#3FB950,cyan);
    position: absolute;
    margin-top: 570px;
    height: 200px;
    z-index: -1;
}
#blur3{
    background-color: cyan;
    filter: blur(25px);
}
.icon-3{
    position: absolute;
    
}
#bar-no5{
    background-image: linear-gradient(cyan,#7C72FF);
    position: absolute;
    margin-top: 50px;
    height: 480px;
    z-index: -1;
}
#guide{
    margin-top: 5px;
    
}
#part4-content{
    margin-top: 110px;
}
#bar-no6{
    background-image: linear-gradient(#7C72FF,transparent);
    position: absolute;
    margin-top: 50px;
    height: 1350px;
    z-index: -1;
}
#blur4{
    background-color: #7C72FF;
    filter: blur(15px);
}
.auction-card{
    background-color: #0d1117;
    border:1px solid #666;
    border-radius: 7px;
    transition: 0.5s;
    
}
.auction-card:hover{
    cursor: pointer;
    transform: scale(1.03,1.03);
    box-shadow: 0px 0px 20px #666;
    transition: 0.5s;
}
.auction-card img{
    height: 200px;
    width: 250px;
    border-radius: 7px 7px 0px 0px;
    border: none;
}
.card-text{
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    margin-top: 15px;
    
}
.auction-row{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -1300px;
    margin-top: 200px;
}
.Time{
    
    margin-right: 10px;
    font-size: 18px;
    
}
.text-card{
    margin-top: -10px;
}
.guide-img{
    z-index: -1;
    margin-top: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 90%
    
    /* mix-blend-mode: color-burn;  */
}

  .item-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .current-bid{
    margin-left: 50px;
    font-size: 18px;
  }
   .auction-headers{
    border-bottom: 1px solid white;
    padding-right: 1000px;
    position: absolute;
    font-size: 45px;
    margin-top: -100px;
   }
   #trending{
    padding-right: 1100px;
   }